/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    color: #333;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3 {
    line-height: 1.1;
    margin-top: 2rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
    // font-weight: 600;
  }
  
  h2 {
    font-size: 1.2rem;
    // font-weight: 500;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid #555;
    margin: 1rem 0;
  }

  a {
    color: #155dfb;
    cursor: pointer;
    // text-decoration: underline;

    &:hover {
      color: #155efbce;
    }
  }
}
.ProseMirror {
  /* Reset básico */
  outline: none;

  /* Listas */
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-left: 0.5rem;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-left: 0.5rem;
  }

  li {
    margin-bottom: 0.25rem;
  }

  blockquote {
    border-left: 3px solid #777;
    padding-left: 1rem;
    color: #555;
    font-style: italic;
  }
}